<div class="card" style="margin-top: 1rem;" ng-controller="EducationCtrl">
  <div class="card-body">
    <div class="mb-2"ng-repeat="education in education">
    <h6 class="card-title heading">{{education.degree +' From  '+education.university}} <span class="text-primary float-right">{{education.duration}}</span></h6> 
    <h6 class="card-subtitle mb-2 text-muted">{{education.in+' | '+education.cgpa}}</h6>
    <span class="card-text badge badge-primary skill" ng-repeat="course in education.courses track by $index">{{course}}</span>
    <hr>
   
  </div>
</div>  
</div>