<div class="jumbotron jumbotron-fluid d-none d-lg-block">
 
  <div class="container">
    <h1 class="display-4">Aashish Ravindran!</h1>
    <p class="lead">Passionately Curious | Tech Enthusiast | Potterhead</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Highlights</h5>
        <p class="card-text">Currently  pursuing my Masters in Computer Engineering at Stony Brook University</p>
        <p class="card-text">Seeking Full-time Opportunities in Software Development</p>    
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Hobbies and Interests</h5>
        <p class="card-text"><i class="fas fa-desktop"></i>Watch Netflix</p>
          <p class="card-text"><i class="fas fa-chess"></i>Chess</p>
          <p class="card-text"><i class="fas fa-book-open"></i>Reading</p>
          <p class="card-text"><i class="fas fa-futbol"></i>Soccer</p>
      </div>
    </div>
  </div>
</div>
<div class="row  d-none d-lg-block">
    
    <div class="col-sm-12">
   <div class="card h-50 mystack">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Skills</h5>
        <span> 
            <img class="img-responsive" src="../mongo.png">
            <img class="img-responsive" src="../html.png">
            <img class="img-responsive" src="../js.png">
            <img class="img-responsive" src="../express.png">
            <img class="img-responsive" src="../python.png">
            <img class="img-responsive" src="../qlik-sense.png">
            <img class="img-responsive"src="../tf_logo_social.png">
          </span>
      </div>
    </div>
</div>
<!-- //education.courses[course.length-1] -->

