
<div class="card" ng-controller="SkillsCtrl">
	
<div class="card-header">Skills</div>


<div class="row w-100">
	
<div class="col-md-6" ng-repeat="skill in skills">

<div class="card-body" style="margin-bottom:1rem; padding: 0rem; margin-left: 1rem;">
	
<div class="card-header" style="text-align:left;background-color:rgba(193, 190, 190, 0.03);border-bottom: 0px solid rgba(0,0,0,.125);">{{skill.type}}</div>
	
<ul  ng-repeat="lang in skill.value_hash">
    <p class="custonpro"> {{lang.langName}}</p>
    <div class="progress is-small">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{lang.width}}",aria-valuemin="0" 
  aria-valuemax="100" ng-style="{'width': '{{lang.width}}'} ">
    {{lang.width}}
  </div>
</div>
</ul>

</div>

</div>
</div>
</div>

<!--

  <li class="list-group-item">{{lang.langName}} <span class="float-right">{{lang.width}}</span></li>-->
